.mb-1 {
  margin-bottom: var(--space-xxxs)
}

.mb-2 {
  margin-bottom: var(--space-xxs)
}

.mb-3 {
  margin-bottom: var(--space-xs)
}

.mb-4 {
  margin-bottom: var(--space-s)
}

.mb-5 {
  margin-bottom: var(--space-m)
}

.mb-6 {
  margin-bottom: var(--space-l)
}

.mb-7 {
  margin-bottom: var(--space-xl)
}

.mb-8 {
  margin-bottom: var(--space-xxl)
}

.mb-9 {
  margin-bottom: var(--space-xxxl)
}

.mb-10 {
  margin-bottom: var(--space-xxxxl)
}

.mt-1 {
  margin-top: var(--space-xxxs)
}

.mt-2 {
  margin-top: var(--space-xxs)
}

.mt-3 {
  margin-top: var(--space-xs)
}

.mt-4 {
  margin-top: var(--space-s)
}

.mt-5 {
  margin-top: var(--space-m)
}

.mt-6 {
  margin-top: var(--space-l)
}

.mt-7 {
  margin-top: var(--space-xl)
}

.mt-8 {
  margin-top: var(--space-xxl)
}

.mt-9 {
  margin-top: var(--space-xxxl)
}

.mt-10 {
  margin-top: var(--space-xxxxl)
}

.ml-1 {
  margin-left: var(--space-xxxs)
}

.ml-2 {
  margin-left: var(--space-xxs)
}

.ml-3 {
  margin-left: var(--space-xs)
}

.ml-4 {
  margin-left: var(--space-s)
}

.ml-5 {
  margin-left: var(--space-m)
}

.ml-6 {
  margin-left: var(--space-l)
}

.ml-7 {
  margin-left: var(--space-xl)
}

.ml-8 {
  margin-left: var(--space-xxl)
}

.ml-9 {
  margin-left: var(--space-xxxl)
}

.ml-10 {
  margin-left: var(--space-xxxxl)
}

.mr-1 {
  margin-right: var(--space-xxxs)
}

.mr-2 {
  margin-right: var(--space-xxs)
}

.mr-3 {
  margin-right: var(--space-xs)
}

.mr-4 {
  margin-right: var(--space-s)
}

.mr-5 {
  margin-right: var(--space-m)
}

.mr-6 {
  margin-right: var(--space-l)
}

.mr-7 {
  margin-right: var(--space-xl)
}

.mr-8 {
  margin-right: var(--space-xxl)
}

.mr-9 {
  margin-right: var(--space-xxxl)
}

.mr-10 {
  margin-right: var(--space-xxxxl)
}