.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 56px;

  display: flex;
  align-items: center;
  padding: var(--space-s);

  background-color: var(--color-navbar);
  box-shadow: var(--color-navbar) 0px 2px;

  font-size: var(--font-size-l);


  .navbar-right {
    margin-left: auto;
  }

  .navbar-icon {
    height: 40px;
  }
}